<app-menu></app-menu>
<div class="container">
  <div class="card">
    <h5>Listado de Actos</h5>
    <p-table #dt1 [value]="actos" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
             currentPageReportTemplate="Listando {first} a {last} de {totalRecords} registros" styleClass="p-datatable-striped"
             [globalFilterFields]="['numResolucion','numCordis','numExpediente','numeroIdentificacion', 'nombreContribuyente', 'tipoIdentificacion', 'direccionNotificacion']">

      <ng-template pTemplate="caption">
        <div class="p-d-flex">

          <div style="text-align: right">
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="30" placeholder="Información a buscar" (input)="dt1.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>

        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Fecha Acto</th>

          <th>Número de Córdis</th>
          <th>Número de resolución</th>
          <th>Número de expediente</th>

          <th>Identificación</th>
          <th>Contribuyente / Apoderado</th>
          <th>Dirección notificación</th>
          <th>Fecha devolución</th>
          <th>Causal devolución</th>
          <th>Pdf Asociado</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-dato>
        <tr>
          <td>{{dato.fechaActo | date: "dd/MM/yyyy"}}</td>
          <td >{{dato.numCordis}}</td>
          <td >{{dato.numResolucion}}</td>
          <td >{{dato.numExpediente}}</td>

          <td >{{dato.tipoIdentificacion}}-{{dato.numeroIdentificacion}}</td>
          <td >{{dato.nombreContribuyente}}</td>
          <td >{{dato.direccionNotificacion}}</td>
          <td>{{dato.fechaDevolucion | date: "dd/MM/yyyy"}}</td>
          <td >{{dato.causalDevolucion}}</td>

          <td *ngIf="dato.urlPdf!== null"><a href="{{dato.urlPdf}}" target="_blank">Descargue el archivo y {{dato.referenciaPdf}}</a> </td>
          <td *ngIf="dato.urlPdf=== null">NO REGISTRA </td>

          <td ><button type="button" class="btn btn-success" id="btdetalle1"   data-toggle="modal" data-target="#exampleModal" (click)="onSelect(dato)">Detalle</button>
            <button *ngIf="funcionarioActivo" type="button" class="btn btn-success" id="bteditar"   data-toggle="modal" data-target="#exampleModalEd" (click)="editar(dato)">Editar</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <br/>
  <div class="col-md-9">
 </div>
</div>
<!--
<div *ngIf="selected">
  <app-detalle [acto]="actoSeleccionado"></app-detalle>
</div>
-->
<p-dialog header="{{tituloDialog}}" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
  <app-detalle [acto]="actoSeleccionado"></app-detalle>
  <p-footer>

    <button type="button" class="btn btn-primary" id="salir"   data-toggle="modal" data-target="#exampleModal" (click)="displayBasic=false">Cerrar</button>
  </p-footer>
</p-dialog>

<p-dialog header="{{tituloDialog}}" [(visible)]="displayBasicEd" [style]="{width: '50vw'}" [baseZIndex]="10000">
  <app-editar-acto [actoed]="actoSeleccionado"></app-editar-acto>
  <p-footer>

    <button type="button" class="btn btn-primary" id="salir1"   data-toggle="modal" data-target="#exampleModal" (click)="displayBasicEd=false">Cerrar</button>
  </p-footer>
</p-dialog>
