<div class="container py-5">
  <div *ngIf="actoed !== undefined"  class="row">
    <div class="col-md-10 mx-auto">

        <div class="form-group row">
          <div class="col-sm-6">
            <label for ="numResolucion" >
              Número Resolución
            </label>
            <input id = "numResolucion" class="form-control" [(ngModel)]="actoed.numResolucion" >
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="numRadicado" >
              Número de Cordis
            </label>
            <input id = "numRadicado" class="form-control" [(ngModel)]="actoed.numCordis" >
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="numExpediente" >
              Número de Expediente
            </label>
            <input id = "numExpediente" class="form-control" [(ngModel)]="actoed.numExpediente" >
            <hr>
          </div>

          <div class="col-sm-6">
            <label for ="fechaActo" >
              Fecha acto
            </label>
            <input  type="date" id = "fechaActo" class="form-control" [(ngModel)]="actoed.fechaActo" >
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="tipoActo" >
              Tipo Acto
            </label>
            <select id="tipoActo" class="form-select" [(ngModel)]="actoed.tipoActo" >
              <option value="-1" selected>Seleccione un tipo de acto</option>
              <option *ngFor="let dato of tipoacto" [value]="dato.valor">
                {{dato.nombre}}
              </option>
            </select>
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="vigencia" >
              Vigencia (s)
            </label>
            <input novalidate id = "vigencia" class="form-control" [(ngModel)]="actoed.vigencias" >
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="tipoIdentificacion" >
              Tipo Identificación
            </label>
            <select id="tipoIdentificacion" class="form-select" [(ngModel)]="actoed.tipoIdentificacion" >
              <option value="-1" selected>Seleccione un tipo de identificación</option>
              <option *ngFor="let dato of tipoidentificacion" [value]="dato.valor">
                {{dato.nombre}}
              </option>
            </select>
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="numeroIdentificacion" >
              Número Identificación
            </label>
            <input id = "numeroIdentificacion" class="form-control" [(ngModel)]="actoed.numeroIdentificacion" >
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="nombreContribuyente" >
              Nombre Contribuyente y/o apoderado
            </label>
            <input id = "nombreContribuyente" class="form-control" [(ngModel)]="actoed.numeroIdentificacion" >
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="direccionNotificacion" >
              Dirección Notificación
            </label>
            <input id = "direccionNotificacion" class="form-control" [(ngModel)]="actoed.direccionNotificacion" >

            <hr>
          </div>
          <div class="col-sm-6">
            <label for="impuesto" >
              Impuesto
            </label>
            <select id="impuesto" class="form-select" [(ngModel)]="actoed.impuesto">
              <option value="-1" selected>Seleccione un impuesto</option>
              <option *ngFor="let dato of tipoimpuesto" [value]="dato.valor">
                {{dato.nombre}}
              </option>
            </select>
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="objeto" >
              Chip / Placa
            </label>
            <input novalidate id = "objeto" class="form-control" [(ngModel)]="actoed.objeto" >
            <hr>
          </div>

          <div class="col-sm-6">
            <label for ="fechaDevolucion" >
              Fecha devolución
            </label>
            <input novalidate type="date" id = "fechaDevolucion" class="form-control" [(ngModel)]="actoed.fechaDevolucion" >
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="causalDevolucion" >
              Causal Devolución
            </label>
            <input novalidate id = "causalDevolucion" class="form-control" [(ngModel)]="actoed.causalDevolucion" >
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="recursoPrecede" >
              Recurso Precedente
            </label>
            <select id="recursoPrecede" class="form-select" [(ngModel)]="actoed.recursoPrecede" >
              <option value="-1" selected>Seleccione un tipo de recurso que precede</option>
              <option *ngFor="let dato of tiporecursopreced" [value]="dato.valor">
                {{dato.nombre}}
              </option>
            </select>
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="tiempoInterponRec" >
              Tiempo para inteponer recurso
            </label>
            <input type="text" id = "tiempoInterponRec" class="form-control" [(ngModel)]="actoed.tiempoInterponRec" placeholder="Tiempo para interoponer un recurso" >

            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="oficina" >
              Oficina
            </label>
            <input type="text" id = "oficina" class="form-control" [(ngModel)]="actoed.oficina" placeholder="Nombre de la oficina" >

            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="funcionario" >
              Funcionario
            </label>
            <input type="text" id = "funcionario" class="form-control" [(ngModel)]="actoed.funcionario" placeholder="usuario del funcionario" >

            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="fechaSolicitud" >
              Fecha de solicitud
            </label>
            <input novalidate type="date" id = "fechaSolicitud" class="form-control" [(ngModel)]="actoed.fechaSolicitud" placeholder="Fecha de solicitud" >
            <hr>
          </div>
          <div class="col-sm-6">
            <label for="medioPublicacion" >
              Tipo Publicacion
            </label>
            <select id="medioPublicacion" class="form-select" [(ngModel)]="actoed.tipoPublicacion" >
              <option value="-1" selected>Seleccione un medio de publicación</option>
              <option *ngFor="let dato of tipopublicacion" [value]="dato.valor">
                {{dato.nombre}}
              </option>
            </select>
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="fechaPublicacion" >
              Fecha Publicación
            </label>
            <input type="date" id = "fechaPublicacion" class="form-control" [(ngModel)]="actoed.fechaPublicacion" >

            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="registroDistrital" >
              Número del registro distrital.
            </label>
            <input id = "registroDistrital" class="form-control" [(ngModel)]="actoed.registroDistrital" placeholder="Número del registro distrital." >
            <hr>
          </div>

          <div class="col-sm-6">
            <label for ="urlPdf" >
              Url del archivo Pdf asociado al Acto Oficial.
            </label>
            <input id = "urlPdf" class="form-control" [(ngModel)]="actoed.urlPdf" >
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="referenciaPdf" >
              Número de página
            </label>
            <input id = "referenciaPdf" class="form-control" [(ngModel)]="actoed.noPagina" >
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="descripcion" >
              Descripción acto oficial
            </label>
            <textarea id = "descripcion" class="form-control" [(ngModel)]="actoed.descripcion" ></textarea>
            <hr>
          </div>


        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary" (click)="actualizar()">Actualizar</button>
          <button type="button" class="btn btn-danger ml-3" (click)="cancelar()" >Cancelar</button>
        </div>

    </div>
  </div>
</div>



