<div class="container">
  <!--<img id="logo" src="https://user-images.githubusercontent.com/54365595/124684368-9322f580-de94-11eb-9638-2d378d27d129.png" /> -->
  <p-menubar [model]="items">

    <div *ngIf="funcionarioActivo">
      Funcionario activo: {{funcioActivo.usuario}}
      <a class="btn btn-outline-success my-2 my-sm-0"   (click)="salir()" >
      Salida de Funcionario
      </a>
    </div>
    <div *ngIf="!funcionarioActivo">
      CONTRIBUYENTE ACTIVO
      <a class="btn btn-outline-success my-2 my-sm-0" routerLink="/actos/autenticar">Acceso de Funcionario</a>
  </div>
  </p-menubar>


</div>
