<div class="container">
  <div class="form-group mx-sm-3 mb-2">
    <h6 >Autenticar Funcionario</h6>

    <form [formGroup]="autentForm" (ngSubmit)="!autentForm.invalid && autenticar(autentForm.value)">
      <label for ="usuario" >
        Tipo Identificación
      </label>
      <input novalidate id = "usuario" class="form-control" formControlName="usuario" placeholder="usuario" >
      <div class="alert alert-danger alert-dismissible fade show"
           *ngIf="autentForm.get('usuario').hasError('required') && autentForm.get('usuario').touched" >
        usuario es requerido </div>
      <label for ="clave" >
        Clave
      </label>
      <input  type="password" novalidate id = "clave" class="form-control" formControlName="clave" placeholder="clave" >
      <div class="alert alert-danger alert-dismissible fade show"
           *ngIf="autentForm.get('clave').hasError('required') && autentForm.get('clave').touched" >
        clave es requerido </div>
      <button type="submit" class="btn btn-primary" [disabled]="!autentForm.valid" >Crear</button>
      <button type="button" class="btn btn-danger ml-3" (click)="cancelar()" >Cancelar</button>

    </form>
  </div>
</div>
