<app-menu></app-menu>

<div class="container py-5">
  <div class="card">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <form [formGroup]="actoOfForm" (ngSubmit)="!actoOfForm.invalid && crearActoOf(actoOfForm.value)">
        <div class="form-group row">
          <div class="col-sm-6">
            <label for ="numResolucion" >
              Número Resolución
            </label>
            <input novalidate id = "numResolucion" class="form-control" formControlName="numResolucion" placeholder="Número Resolución" >
            <div class="alert alert-danger alert-dismissible fade show"
                 *ngIf="actoOfForm.get('numResolucion').hasError('required') && actoOfForm.get('numResolucion').touched" >
              Número Resolución es requerido </div>
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="numCordis" >
              Número de Cordis
            </label>
            <input novalidate id = "numCordis" class="form-control" formControlName="numCordis" placeholder="Número de cordis" >
            <div class="alert alert-danger alert-dismissible fade show"
                 *ngIf="actoOfForm.get('numCordis').hasError('required') && actoOfForm.get('numCordis').touched" >
              Número de Cordis es requerido </div>
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="numExpediente" >
              Número de Expediente
            </label>
            <input novalidate id = "numExpediente" class="form-control" formControlName="numExpediente" placeholder="Número de Expediente" >
            <div class="alert alert-danger alert-dismissible fade show"
                 *ngIf="actoOfForm.get('numExpediente').hasError('required') && actoOfForm.get('tipoIdentificacion').touched" >
              Número de Expediente es requerido </div>
            <hr>
          </div>

          <div class="col-sm-6">
            <label for ="fechaActo" >
              Fecha acto
            </label>
            <input novalidate type="date" id = "fechaActo" class="form-control" formControlName="fechaActo" placeholder="Fecha acto" >
            <div class="alert alert-danger alert-dismissible fade show"
                 *ngIf="actoOfForm.get('fechaActo').hasError('required') && actoOfForm.get('fechaActo').touched" >
              Fecha acto requerida</div>
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="tipoActo" >
              Tipo Acto
            </label>
            <select id="tipoActo" class="form-select" formControlName="tipoActo" >
              <option value="-1" selected>Seleccione un tipo de acto</option>
              <option *ngFor="let dato of tipoacto" [value]="dato.valor">
                {{dato.nombre}}
              </option>
            </select>
            <div class="alert alert-danger alert-dismissible fade show"
                 *ngIf="actoOfForm.get('tipoActo').hasError('required') && actoOfForm.get('tipoActo').touched" >
              Tipo Acto es requerido</div>
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="vigencias" >
              Vigencia(s)
            </label>
            <input novalidate id = "vigencias" class="form-control" formControlName="vigencias" placeholder="vigencias" >
            <div class="alert alert-danger alert-dismissible fade show"
                 *ngIf="actoOfForm.get('vigencias').hasError('required') && actoOfForm.get('vigencias').touched" >
              Vigencia(s) requerida(s)</div>

            <hr>
          </div>

          <div class="col-sm-6">
            <label for ="tipoIdentificacion" >
              Tipo Identificación
            </label>
            <select id="tipoIdentificacion" class="form-select" formControlName="tipoIdentificacion" >
              <option value="-1" selected>Seleccione un tipo de identificación</option>
              <option *ngFor="let dato of tipoidentificacion" [value]="dato.valor">
                {{dato.nombre}}
              </option>


            </select>
            <div class="alert alert-danger alert-dismissible fade show"
                 *ngIf="actoOfForm.get('tipoIdentificacion').hasError('required') && actoOfForm.get('tipoIdentificacion').touched" >
              Tipo identificación es requerido </div>
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="numeroIdentificacion" >
              Número Identificación
            </label>
            <input id = "numeroIdentificacion" class="form-control" formControlName="numeroIdentificacion" placeholder="Número identificación" >
            <div class="alert alert-danger alert-dismissible fade show"
                 *ngIf="actoOfForm.get('numeroIdentificacion').hasError('required') && actoOfForm.get('numeroIdentificacion').touched" >
              Número Identificación es requerido</div>
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="nombreContribuyente" >
              Nombre Contribuyente y/o apoderado
            </label>
            <input id = "nombreContribuyente" class="form-control" formControlName="nombreContribuyente" placeholder="Nombre Contribuyente y/o apoderado" >
            <div class="alert alert-danger alert-dismissible fade show"
                 *ngIf="actoOfForm.get('nombreContribuyente').hasError('required') && actoOfForm.get('nombreContribuyente').touched" >
              Nombre Contribuyente y/o apoderado</div>
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="direccionNotificacion" >
              Dirección Notificación
            </label>
            <input id = "direccionNotificacion" class="form-control" formControlName="direccionNotificacion" placeholder="Dirección Notificación" >
            <div class="alert alert-danger alert-dismissible fade show"
                 *ngIf="actoOfForm.get('direccionNotificacion').hasError('required') && actoOfForm.get('direccionNotificacion').touched" >
              Dirección Notificación requerida</div>
            <hr>
          </div>
          <div class="col-sm-6">
            <label for="impuesto" >
              Impuesto
            </label>
            <select id="impuesto" class="form-select" formControlName="impuesto">
              <option value="-1" selected>Seleccione un impuesto</option>
              <option *ngFor="let dato of tipoimpuesto" [value]="dato.valor">
                {{dato.nombre}}
              </option>
            </select>
            <div class="alert alert-danger alert-dismissible fade show"
                 *ngIf="actoOfForm.get('impuesto').hasError('required') && actoOfForm.get('impuesto').touched" >
              Impuesto es requerido</div>
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="objeto" >
              Chip / Placa
            </label>
            <input novalidate id = "objeto" class="form-control" formControlName="objeto" placeholder="Objeto del impuesto" >
            <div class="alert alert-danger alert-dismissible fade show"
                 *ngIf="actoOfForm.get('objeto').hasError('required') && actoOfForm.get('objeto').touched" >
              El objeto es requerido</div>
            <hr>
          </div>

          <div class="col-sm-6">
            <label for ="fechaDevolucion" >
              Fecha devolución
            </label>
            <input novalidate type="date" id = "fechaDevolucion" class="form-control" formControlName="fechaDevolucion" placeholder="Fecha devolución" >
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="causalDevolucion" >
              Causal Devolución
            </label>
            <select id="causalDevolucion" class="form-select" formControlName="causalDevolucion">
              <option value="-1" selected>Seleccione un causal de devolución</option>
              <option *ngFor="let dato of causaldevolucion" [value]="dato.valor">
                {{dato.nombre}}
              </option>
            </select>

            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="recursoPrecede" >
              Recurso Precedente
            </label>
            <select id="recursoPrecede" class="form-select" formControlName="recursoPrecede" >
              <option value="-1" selected>Seleccione un tipo de recurso que precede</option>
              <option *ngFor="let dato of tiporecursopreced" [value]="dato.valor">
                {{dato.nombre}}
              </option>
            </select>
            <div class="alert alert-danger alert-dismissible fade show"
                 *ngIf="actoOfForm.get('tipoActo').hasError('required') && actoOfForm.get('tipoActo').touched" >
              Tipo Acto es requerido</div>
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="tiempoInterponRec" >
              Tiempo para inteponer recurso
            </label>
            <input type="text" id = "tiempoInterponRec" class="form-control" formControlName="tiempoInterponRec" placeholder="Tiempo para interoponer un recurso" >

            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="oficina" >
              Oficina
            </label>
            <input type="text" id = "oficina" class="form-control" formControlName="oficina" placeholder="Nombre de la oficina" >

            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="funcionario" >
              Funcionario
            </label>
            <input type="text" id = "funcionario" class="form-control" formControlName="funcionario" placeholder="usuario del funcionario" >

            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="fechaSolicitud" >
              Fecha de solicitud
            </label>
            <input novalidate type="date" id = "fechaSolicitud" class="form-control" formControlName="fechaSolicitud" placeholder="Fecha de solicitud" >
            <hr>
          </div>
          <div class="col-sm-6">
            <label for="tipoPublicacion" >
              Tipo Publicación
            </label>
            <select id="tipoPublicacion" class="form-select" formControlName="tipoPublicacion" >
              <option value="-1" selected>Seleccione un tipo de publicación</option>
              <option *ngFor="let dato of tipopublicacion" [value]="dato.valor">
                {{dato.nombre}}
              </option>
            </select>
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="fechaPublicacion" >
              Fecha Publicación
            </label>
            <input type="date" id = "fechaPublicacion" class="form-control" formControlName="fechaPublicacion" placeholder="Fecha Publicación" >
            <div class="alert alert-danger alert-dismissible fade show"
                 *ngIf="actoOfForm.get('fechaPublicacion').hasError('required') && actoOfForm.get('fechaPublicacion').touched" >
              Fecha Publicación requerida</div>
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="registroDistrital" >
              Número del registro distrital.
            </label>
            <input id = "registroDistrital" class="form-control" formControlName="registroDistrital" placeholder="Número del registro distrital. " >
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="actoOfForm.get('registroDistrital').hasError('pattern') &&
                      actoOfForm.get('registroDistrital').touched">
              Debe contener solo números
            </div>
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="urlPdf" >
              Url del archivo Pdf asociado al Acto Oficial.
            </label>
            <input id = "urlPdf" class="form-control" formControlName="urlPdf" placeholder="Url del Pdf que contiene la información del acto oficial." >
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="noPagina" >
              Número de página dentro del PDF
            </label>
            <input id = "noPagina" class="form-control" formControlName="noPagina" placeholder="Número de página dentro del documento PDF. " >
            <hr>
          </div>
          <div class="col-sm-6">
            <label for ="descripcion" >
              Descripción del acto oficial.
            </label>
            <textarea novalidate id = "descripcion" class="form-control" formControlName="descripcion" placeholder="Descripción de acto oficial" ></textarea>
            <div class="alert alert-danger alert-dismissible fade show"
                 *ngIf="actoOfForm.get('descripcion').hasError('required') && actoOfForm.get('descripcion').touched" >
              Descripción requerida</div>
            <hr>
          </div>


        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary" [disabled]="!actoOfForm.valid" >Crear</button>
          <button type="button" class="btn btn-danger ml-3" (click)="cancelar()" >Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>


