<div class="container-fluid">
  <p class="h3 p-3"></p>
  <div class="row">

    <div class="col">
      <dl>
        <dt>Código</dt>
        <dd >{{acto.id}}</dd>
        <hr>
        <dt>Descripción</dt>
        <dd >{{acto.descripcion}}</dd>
        <hr>
        <dt>Tipo Identificación</dt>
        <dd >{{acto.tipoIdentificacion}}</dd>
        <hr>
        <dt>Identificación</dt>
        <dd >{{acto.numeroIdentificacion}}</dd>
        <hr>
        <dt>Impuesto</dt>
        <dd >{{acto.impuesto}}</dd>
        <hr>
        <dt>Fecha Publicación</dt>
        <dd >{{acto.fechaPublicacion | date: "dd/MM/yyyy"}}</dd>
        <hr>
        <dt>Vigencia</dt>
        <dd >{{acto.vigencia}}</dd>
        <hr>
        <dt>ID Objeto</dt>
        <dd >{{acto.idObjeto}}</dd>
        <hr>
        <dt>Periodo</dt>
        <dd >{{acto.periodo}}</dd>
        <hr>

      </dl>
    </div>
  </div>
</div>

